

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

.header {
  height: 105px;
  background-color: #CACACA;
  margin-bottom: 10px;
}


/* Drop Down Styles
================================ */
nav .drop-down {
  list-style: none;
  overflow: hidden; /* When ul height is reduced, ensure overflowing li are not shown */
  height: 172px; /* 172px = (38 (li) + 5 (li border)) * 4 (number of li) */
  background-color: #34495e;
  width: 200px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  -webkit-transition: height 0.3s ease;
  transition: height 0.3s ease;
}

nav .drop-down.closed {
  /*  When toggled via jQuery this class will reduce the height of the ul which inconjuction
      with overflow: hidden set on the ul will hide all list items apart from the first */
  /* current li height 38px + 5px border */
  height: 43px;
}

nav .drop-down li {
  border-bottom: 5px solid #2c3e50;
}

nav .drop-down li a {
  display: block;
  color: #ecf0f1;
  text-decoration: none;
  padding: 10px; /* Larger touch target area */
}

nav .drop-down li:first-child a:after {
  content: "\25BC";
  float: right;
  margin-left: -30px; /* Excessive -margin to bring link text back to center */
  margin-right: 5px;
}



.main-wrap {
  max-width: 1280px;
  min-width: 800px;
  height: 100%;
  margin:0 auto;
}

.main-wrap--inner {
  width: 100%;
  background-color: orange;
}

.left-col {
  background-color: silver;
  float: left;
  padding: 10px;
  width: -moz-calc(70% - 20px);
  width: -webkit-calc(70% - 20px);
  width: calc(70% - 20px);
}

.right-col {
  background-color: lightgray;
  padding: 10px;
  float: left;
  width: -moz-calc(30% - 20px);
  width: -webkit-calc(30% - 20px);
  width: calc(30% - 20px);
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}





.hidden {
    display: none !important;
}


.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

